html {
  --header-height: 60px;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
}

body {
  margin: 0;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;

  background-color: rgba(22, 22, 23, 0.8);
  backdrop-filter: saturate(1.8) blur(20px);
}

.header__logo {
  margin: 0;
}

.logo {
  font-size: 2rem;
}

.nav__toggler {
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  @include tablet {
    display: none;
  }
}

.line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.line:nth-child(1) {
  top: 0;
}

.line:nth-child(2) {
  top: 7px;
}

.line:nth-child(3) {
  top: 14px;
}

.nav__toggler:checked + .hamburger .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.nav__toggler:checked + .hamburger .line:nth-child(2) {
  opacity: 0;
}

.nav__toggler:checked + .hamburger .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.nav__list {
  position: absolute;
  top: 102%;
  left: 0;
  right: 0;
  @media (max-width: 600px) {
    max-height: 0;
  }
  margin: 0;
  padding: 0;
  list-style: none;

  background-color: rgba(22, 22, 23, 0.8);
  backdrop-filter: saturate(1.8) blur(20px);

  overflow: hidden;
  transition: all 0.3s ease-in;
}

.nav__toggler:checked ~ .nav__list {
  max-height: 100vh;
}

@media (min-width: 600px) {
  .nav__list {
    position: static;
    height: auto;
    display: flex;
    background-color: transparent;
    backdrop-filter: none;
    gap: 10px;
  }
}

.nav__link {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding-inline: 0.5em;
  font: inherit;
  color: inherit;
  text-decoration: none;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 1s ease;
    width: 100%;
  }
}

.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
